.article {
    display: flex;
    margin-bottom: 2%;
}

.statistic {
    width: 20%;
    border-radius: 9px;
    background-color: rgb(230, 224, 224);
}

.article-activities {
    flex: 1;
    margin-left: 1%;
    padding: 0px;
}

#vote-point {
    margin-top: -20%;
}

.item {
    text-decoration: none;

}

a {
    text-decoration: none;
}

