/* You can add global styles to this file, and also import other style files */
body {
    border: 1px solid red;
    font-family: "Inter Tight", serif;
}

.form-control:focus {
    box-shadow: none;
}

html, body { height: 100%; }

body { margin: 0; font-family: "Inter Tight", serif; }
